.scan-add-book {
    width: 100%;
    padding-bottom: 50px;
}

.scan-add-book>h1 {
    width: 100%;
    height: 50px;
    margin: 0;
    line-height: 50px;
    background: #d11b70;
    color: #FFF;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

#scanner {
    padding-bottom: 30px;
}

#scanner video {
    display: block;
    width: 100%;
    height: auto;
}

#scanner canvas {
    display: none;
}


/* code holder */

#code-holder {
    padding: 0 30px;
    font-size: 1.2em;
    line-height: 1.6;
}

#code-holder span {
    color: #444;
    font-weight: bolder;
}


/* book info
*****************************************/

.load-message {
    opacity: 0;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
    color: red;
    transition: 0.2s;
}

.show-message {
    opacity: 1;
}

#book-info {
    color: #666;
}

#book-info h1 {
    text-align: center;
    color: #333;
    font-size: 1.4em;
}

.book-title,
.book-author {
    padding: 0 30px;
    font-size: 1.2em;
    line-height: 1.6;
}

.book-title span,
.book-author span {
    color: #444;
    font-weight: bolder;
}

.book-image img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.add-to-db {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    margin: 30px 0;
    line-height: 30px;
}

.add-to-db label {
    font-size: 1.4em;
    font-weight: bold;
    color: #444;
}

#add-number {
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    padding: 5px 10px;
}

#select-kind {
    box-sizing: border-box;
    position: absolute;
    right: 20px;
    width: 100px;
    height: 30px;
}

.submit {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    margin: 0 0 30px;
    line-height: 30px;
}

.submit-data {
    box-sizing: border-box;
    position: absolute;
    width: 70px;
    height: 30px;
    border: none;
}

#submit-in {
    left: 60px;
}

#submit-out {
    right: 60px;
}

.submit-close {
    pointer-events: none;
}