.forget-password-page .form {
    padding-top: 20%;
}

.forget-password-page .form-item:nth-last-child(1) input {
    color: #F79D2D;
}

.forget-password-page .return {
    position: absolute;
    z-index: 333;
    top: 20px;
    right: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}